<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.drukido.vrun">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <permission
        android:name="com.drukido.vrun.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.drukido.vrun.permission.C2D_MESSAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- <meta-data -->
    <!-- android:name="com.parse.push.notification_icon" -->
    <!-- android:resource="@drawable/push_icon"/> -->
    <application
        android:name=".VRunApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_vrun_app_icon"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SignUpActivity"
            android:label="@string/sign_up"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name="com.parse.PushService" />

        <!-- Added for Parse push notifications -->
        <receiver
            android:name=".utils.PushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="com.drukido.vrun" />
            </intent-filter>
        </receiver>
        <!-- /Added for Parse push notifications -->

        <activity
            android:name=".ui.RunMeasureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".ui.NewRunActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".ui.WatchAttendingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog" />
        <activity android:name=".ui.PhotoViewerActivity" />
        <activity
            android:name=".ui.GroupMembersActivity"
            android:label="@string/group_members"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.AttendingActivity"
            android:label="@string/who_is_attending"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.SendFeedbackActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".ui.AppleUserAttendingActivity"
            android:screenOrientation="portrait"
            android:label="iPhone users"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
